wklifeFL/data/
wklifeFL/exec/output/
wklifeFL/exec/.Rhistory
wklifeFL/exec/oms.rds
wklifeFL/exec/plots.rds
wklifeFL/exec/stks.rds
.Rhistory
R/om_list.RData
R/om_oem_.RData
R/oms2.RData
R/input/stocks/observation_error/
R/input/stocks/perfect_knowledge/
R/output/perfect_knowledge/combined/
R/output/perfect_knowledge/plots/
